*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.main{
    max-width: 1140px;
    margin: 0 auto;
}
/* header part start */
header{
    display: flex;
    justify-content: space-between;
    margin: 53px 0;
}
header .logo-a{
    text-decoration: none;
}
.main .header-logo{
    display: flex;
    gap: 40px;
}
.main .header-logo .logo .logo-img{
    width: 120%;
height: 100%;
margin-top: -5px;
}
.main .header-logo .logo-text .logo-h1{
    color: #131318;
font-size:36px;
font-weight: 800;
display: flex;
}
.main .header-logo .logo-text .logo-h1 .logo-span{
color: #FF5400;
font-size: 36px;
font-weight: 800;
margin-left: 15px;
}

.main nav ul{
    display: flex;
    gap: 44px;
    margin-top: 10px;
}
.main nav ul li{
    list-style: none;
}
.main nav ul li .header-a .li-span{
    text-decoration: none;
    color: #FF5400;
text-align: center;
font-size: 18px;
font-weight: 700;
}
.main nav ul li .header-a{
    color: var(--Dark-02, #424247);
text-align: center;
font-size: 18px;
font-weight: 400;
text-decoration: none;
}
header .nav-icon{
    display: none;
}
/* header part end */

/* part-2 start */
    .part-2{
        width: 1140px;
        height:450px ;
       background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("img/Group\ 13\ \(1\)\ \(1\).png");
        margin: 0 auto;
        margin-bottom: 100px;
        margin-top: 60px;
        border-radius: 16px;
    }
    .part-2 {
        justify-content: center;
        text-align: center;
    }
    .part-2 .part-2-h1{
color: #FFF;
font-size: 55px;
font-weight: 800;
padding-top: 100px;
}
.part-2 .part-2-p{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.part-2 .scarch{
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
margin: 0 auto;
padding: 15px;
gap:24px ;
}
.part-2 .part-2-input{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
border: none;
}
.part-2 .part-2-input::placeholder{
    color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
}
.part-2 .part-2-input:focus{
    outline: none;
}
.part-2 .part-2-input:read-write{
    padding: 20px;
}
.scarch .part-2-btn{
    display: flex;
    text-decoration: none;
    gap: 10px;
    width: 174px;
    height: 52px;
    align-items: center;
    justify-content: center;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
}
/* mobail responsive */

/* header part start */
@media screen and (max-width:576px)  
{
    .main{
        max-width: 400px;
    }
    .main header nav{
        display: none;
    }
    header .nav-icon{
        display: block;
        font-size: 30px;
        color: #131318;
    }
    .main .header-logo{
        gap: 20px;
    }
    .main .header-logo .logo-text .logo-h1{
        font-size: 30px;
    }
    .main .header-logo .logo-text .logo-h1 .logo-span{
        font-size: 30px;
    }
    .main .header-logo .logo .logo-img{
        height: 100%;
        width: 100%;
        margin-top: -5px;
    }
    /* header part end */
    /* part-2 start */
    .part-2{
        height: 483px;
        max-width: 400px;
        margin-top: -25px;
    }
    .part-2 .scarch{
        flex-direction: column;
        width: 350px;
        align-items: center;
    }
    .part-2 .part-2-h1{
        font-size: 22px;
        padding-top: 15px;
    }
    .part-2 .part-2-p{
        font-size: 14px;
    }
    .part-2 .part-2-input{
        width: 300px;
    }
    .part-2 .part-2-btn{
        width: 300px;
    }
}